.discussionContainer {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 2rem 0rem 2rem;
}

.negativeTopMargin {
  margin-top: -25px;
}

.marginRight {
 margin-right: 10px;
}

.discussionCard {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  margin-bottom: 32px;
}

.content {
  display: flex;
  flex-direction: column;
}

.discussionTitle {
  margin-bottom: 0;
}

.skeletonTitle {
  width: 60%; 
  font-size: 1.5em;
}

.skeletonBody {
  width: 100%;
}

.horizontalDivider {
  width: 100%;
  color: lightslategray;
  padding-top: 0.5em;
}

.tags {
  justify-content: flex-end;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.tag {
  background-color: #e5e7eb;
  color: #374151;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  margin-bottom: 0.5em;
}