
.discussion-container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 2rem 0rem 2rem;
}

.negative-top-margin {
  margin-top: -25px;
}

.margin-right {
 margin-right: 10px;
}

.discussion-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  margin-bottom: 32px;
}

.content {
  display: flex;
  flex-direction: column;
}

.discussion-title {
  margin-bottom: 0;
}

.skeleton-title {
  width: 60%; 
  font-size: 1.5em;
}

.skeleton-body {
  width: 100%;
}

.horizontal-divider {
  width: 100%;
  color: lightslategray;
  padding-top: 0.5em;
}