.likeButtonActive {
  color: #d70a0a;
  margin-bottom: 0.5em;
}

.likeButton {
  color: grey;
  margin-bottom: 0.5em;
}

.commentButton {
  color: grey;
}

.likeButtonActive,
.likeButton,
.commentButton {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.likeButtonActive:hover,
.likeButton:hover,
.commentButton:hover {
  transform: scale(1.2);
}

.container {
  background-color: #e7e7e7;
  border-radius: 10px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}